<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/employeeInfo.css">
    <title>Employee Info</title>
</head>
<body>
    <div class="top-banner">
        <h1>
            <a href="portal.html">TFNB</a>
        </h1>
    </div>
    <h1 class="row col-12 justify-content-center title">All Employees</h1>
    <h2>Managers</h2>
    <div id="managers" class="people"></div>
    <h2>Employees</h2>
    <div id="employees" class="people"></div>
</body>
<script src="../scripts/employeeInfo.js"></script>
</html>